@charset "ISO-8859-1";

h3{
	margin: 0;
	color: #2C5673;
	padding: 10px 0px 0px 10px;
}

.localizacion{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 5px 5px #B3913D;
	border-radius: 4px;	
}

.localizacion h3{
	font-weight: normal;
	display: inline-block;
	padding-bottom: 5px;
}
.localizacion h3:hover{
	text-decoration: underline;
}

.popups{
	padding-top: 5px;
	margin: 0px 10px 0px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.popup{
	flex-grow: 1;
	flex-basis: 310px;
	max-width: 450px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 5px 10px 10px 0px;
	border: 1px solid #9DB5C6;
	box-shadow: 2px 2px #AAAAAA;
	transition: all 0.25s ease;
}
.popup:hover{
	box-shadow: 5px 5px #AAAAAA;
}
.popupContenido{
	display: flex;
}
.popupFoto{
	height: 75px;
	width: 75px;
	display: inline-block;
	object-fit: cover;
	flex-grow: 0;
}
.popupFoto img{
	width: 100%;
	height: 100%;
	display: inline-block;
	object-fit: cover;
}
.popupTexto{
	color: #021B2C;
	font-size: 11pt;
	font-weight: bold;
	vertical-align: top;
	flex-grow: 1;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.popupLugar, .popupLat, .popupLon{
	color: #103753;
	display: inline;
	font-size: 9pt;
}
.popupEliminar{
	height: 40px;
	width: 40px;
	margin: 0px;
	flex-grow: 0;
	display: inline-block;
}
.popupEliminar button{
	color: white;
	height: 100%;
	width: 100%;
	font-size: 20pt;
	background-color: #021B2C;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}