@charset "ISO-8859-1";

#mapid{
	height: 500px;
}
.mapa{
	background-color: white;
	max-width: 1200px;
	display: block;
	box-shadow: 5px 5px #B3913D;
	border-radius: 4px;
}
.mapa .controlesMapa{
	padding: 10px;
}
.mapa .controlesLocalizacion{
	padding: 0px 10px 10px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.mapa .controlesLocalizacion .controlLocalizacion{
	flex-grow: 1;
	margin: 5px;
}
.mapa .controlesLocalizacion .controlLocalizacion .nuevoLugar{
	margin: 5px;
}
.mapa input{
	margin-left: 10px;
}
.mapa label{
	margin-right: 5px;
}
.mapa select{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12pt;
}

.popups{
	padding: 10px 0px 0px 10px;
	background-color: white;
	box-shadow: 5px 5px #B3913D;
	border-radius: 4px;
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.popup{
	flex-grow: 1;
	flex-basis: 310px;
	max-width: 450px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0px 10px 10px 0px;
	border: 1px solid #9DB5C6;
	box-shadow: 2px 2px #AAAAAA;
	transition: all 0.25s ease;
}
.popup:hover{
	cursor: pointer;
	box-shadow: 5px 5px #AAAAAA;
}
.popupContenido{
	display: flex;
}
.popupFoto{
	height: 75px;
	width: 75px;
	display: inline-block;
	object-fit: cover;
	flex-grow: 0;
}
.popupFoto img{
	height: 100%;
	width: 100%;
	display: inline-block;
	object-fit: cover;
}
.popupTexto{
	color: #021B2C;
	font-size: 11pt;
	font-weight: bold;
	vertical-align: top;
	flex-grow: 1;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.popupLugar, .popupLat, .popupLon{
	color: #103753;
	display: inline;
	font-size: 9pt;
}
.popupEliminar{
	height: 40px;
	width: 40px;
	margin: 0px;
	flex-grow: 0;
	display: inline-block;
}
.popupEliminar button{
	color: white;
	height: 100%;
	width: 100%;
	font-size: 20pt;
	background-color: #021B2C;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}