@charset "ISO-8859-1";

.mapa{
	background-color: white;
	padding: 30px 20px;
	max-width: 1200px;
	heigth: 1000px; 
	margin-left:auto;
	margin-right:auto;
	display: block;
	box-shadow: 5px 5px #BBBBBB;
	z-index: -1;
}
.mapa input{
	margin-left: 10px;
	font-size: 12pt;
}
.mapa label{
	margin-right: 5px;
}
.mapa select{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12pt;
}
.popups{
	margin-top: 10px;
	display: flex;
	flex-flow: row;	
	flex-wrap: wrap;
	justify-content: space-around;
}
.popup{
	flex-basis: 250px;
	flex-grow: 1;
	border: 1px solid black;
	margin: 20px auto;
	background-color: white;
	min-width: 100px;
	margin: 5px 3px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.popup:hover{
	cursor: pointer;
}
.popupContenido{
	display:flex;
	width: 100%;
}
.popupFoto{
	height: 75px;
	width: 75px;
	display: inline-block;
	object-fit: cover;
	flex-grow: 0;
}
.popupFoto img{
	width: 100%;
	height: 75px;
	display: inline-block;
	object-fit: cover;
}
.popupTexto{
	font-size: 12pt;
	font-weight: bold;
	vertical-align: top;
	flex-grow: 1;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
.popupLugar, .popupLat, .popupLon{
	display: inline;
	font-size: 10pt;
}
.popupEliminar{
	background-color: green;
	height: 75px;
	width: 75px;
	margin: 0px;
	flex-grow: 0;
	display: inline-block;
}
.popupEliminar input{
	height: 100%;
	width: 100%;
	font-size: 20pt;
	background-color: black;
}
.popupEliminar input:hover{
	cursor: pointer;
}