@import url('https://fonts.googleapis.com/css?family=Baumans');
@charset "ISO-8859-1";

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #FFD6AC;
    max-width: 1200px;
    margin: auto
}
div, img, p, a{
	margin: 0;
    border: 0;
    padding: 0
}

.encabezado{
	background-color: #CBDD74;
	padding: 0px 10px 5px 10px;
	display: flex;
	align-items: flex-end;
	height: 100px;
	margin-bottom: 20px;
	border: solid 3px #A2B643;
	border-radius: 7px;
	box-shadow: 5px 5px #BBBBBB
}
.encabezado .nombre{
	display: inline;
	flex: 3 0 70%
}
.encabezado .nombre a {
	font-size: 40pt;
	font-family: Baumans, Arial;
	color: #7D9120;
}
.encabezado .registro{
	flex: 1 0 30%;
	display: flex;
	justify-content: space-around
}
.encabezado .registro .sesionIniciada{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 100%
}
.encabezado .registro .botonEncabezado{
	font-size: 10pt;
	text-align: center;
	width: 50%;
	margin: 5px
}
.encabezado .registro a{
	background-color: #1D3963;
	color: #B4C2D7;
	border-radius: 7px;
	display: block;
	padding: 10px 0;
	transition: all 0.25s ease
}
.encabezado .registro a:hover{
	background-color: #B4C2D7;
	color: #1D3963
}
.encabezado .registro .nombreUsuario{
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	margin: 5px
}

a {
    text-decoration: none
}

input {
    display: inline-block
}

form {
    display: inline
}
input[type=submit] {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #B4C2D7;
    background-color: #1D3963;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.25s ease;
}
input[type=submit]:hover{
	color: #1D3963;
	background-color: #B4C2D7;
}